.container{
    display: flex;
    width: 80%;
    margin-left: 10%;
}

.header{
    width: 100%;
    height: 650px;
    /* background-color: #000; */
}

.header .container{
    height: 100px;
}

.header .container .left_menu{
    height: 100%;
    width: 40%;
    /* background-color: aqua; */
}


.header .container .logo_menu{
    display: flex;
    height: 90%;
    width: 20%;
    justify-content: center;
    /* background-color: black; */
}


.header .container .right_menu{
    height: 100%;
    width: 40%;
    /* background-color: aqua; */
}


.header .container .navbar{
    display: flex;
    height: 100%;
    list-style: none;
    justify-content: space-around;
    align-items: center;
}

a{
    text-decoration: none;
    font-family: textFont;
    color: #fff;
}

li:hover{
    transform: scale(1.1);
}

.header .container .logo_menu .logo_fundo{
    display: flex;
    justify-content: center;
    align-items: end;
    width: 60%;
    height: 100%;
    background-color: #FF3131;
}

.header .container .logo_menu .logo_fundo p{
    font-family: titleFont;
    margin-bottom: 15px;
    font-size: 20px;
    color: #fff;
}


