body{
    display: flex;
    width: 100%;
    height: 100vh;
    /* background-color: yellow; */
}

.navbar{
    display: flex;
    justify-content: center;
    width: 20%;
    height: 100%;
    background-color: #000;
}

.navbar .container_navbar{
    /* display: flex;
    flex-direction: column; */
    width: 70%;
    height: 100%;
    /* background-color: aqua; */
}

.navbar .logo{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 20%;
    align-self: center;
    /* background-color: blueviolet; */
    
}

.navbar .logo .fundo_logo{
    display: flex;
    justify-content: center;
    align-items: end;
    width: 70%;
    height: 70%;
    background-color: #FF3131;
}

.navbar .logo .fundo_logo p{
    font-family: titleFont;
    margin-bottom: 15px;
    font-size: 20px;
    color: #fff;
}

.navbar .menu{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 70%;
    font-family: titleFont;
    color: white;
    font-size: 20px;
    /* background-color: black; */
}

.navbar .menu a{
    color: #fff;
}

.navbar .menu .menu_item:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.dashboard{
    width: 80%;
    height: 100%;
    background-image: url(../assets/imgs/dash_page/banner_dash.jpg);
    background-size: cover;
    background-position: center;
    /* background-color: green;     */
}

.dashboard .dashboard_top{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* background-color: red; */
}

.grafico_top_left, .grafico_top_right{
    width: 30%;
    height: 50%;
    backdrop-filter: blur(20px);
    box-shadow: 5px 5px #000;

}


.dashboard .dashboard_bottom{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: green; */
}

.dashboard .dashboard_bottom .grafico{
    width: 75%;
    height: 70%;
    backdrop-filter: blur(20px);
    box-shadow: 5px 5px #000;
}