body{
    display: flex;
    width: 100%;
    height: 100vh;
    /* background-color: yellow; */
}

.navbar{
    display: flex;
    justify-content: center;
    width: 20%;
    height: 100%;
    background-color: #000;
}

.navbar .container_navbar{
    /* display: flex;
    flex-direction: column; */
    width: 70%;
    height: 100%;
    /* background-color: aqua; */
}

.navbar .logo{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 20%;
    align-self: center;
    /* background-color: blueviolet; */
    
}

.navbar .logo .fundo_logo{
    display: flex;
    justify-content: center;
    align-items: end;
    width: 70%;
    height: 70%;
    background-color: #FF3131;
}

.navbar .logo .fundo_logo p{
    font-family: titleFont;
    margin-bottom: 15px;
    font-size: 20px;
    color: #fff;
}

.navbar .menu{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 70%;
    font-family: titleFont;
    color: white;
    font-size: 20px;
    /* background-color: black; */
}

.navbar .menu a{
    color: #fff;
}

.navbar .menu .menu_item:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.avaliacao{
    background-image: url(../assets/imgs/dash_page/banner_dash3.png);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 100%;
    font-family: titleFont;
    /* /* font-size: 12px; */
    color: #fff;
    text-shadow: 1px 1px black;
}

.avaliacao .container_card{
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 70%;
    height: 80%;
    backdrop-filter: blur(20px);
    /* border-radius: 20px; */
    box-shadow: 5px 5px #000;
    
    /* background-color: blue; */
}

.avaliacao .container_card .feedback{
    height: 100px;
    width: 70%;
    border: 4px solid #fff;
    background-color: transparent;
    border-radius: 20px;
    font-family: textFont;
    font-size: 30px;
    color: #fff;
    padding: 5px;
}


.avaliacao .container_card .avaliacao_estrelas{
    display: flex;
    width: 80%;
    height: 120px;
    justify-content: space-evenly;
    align-items: center;
    /* background-color: orange; */
}

.avaliacao .container_card .avaliacao_estrelas img{
    width: 100px;
    height: 100px;
}

.avaliacao .container_card .avaliacao_estrelas img:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.avaliacao .container_card button{
    align-self: end;
    margin-right: 20px;
    background-color: #FF3131;
    width: 130px;
    height: 30px;
    border: 1px solid #FF3131;
    border-radius: 20px;
    font-family: subTitleFont;
    color: #fff;
    cursor: pointer;
}

.avaliacao .container_card button:hover{
    background-color: transparent;
    color: #FF3131;
}